.video-page-container {
    position: relative;
}

.iframe-container {
    position: relative;
    width: 100%;
    /* Adjust the height as a percentage to maintain aspect ratio (e.g., 16:9 aspect ratio) */
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.back-btn.matrix {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.2;
}



.pop-up-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.blur-background {
    filter: blur(10px);
    overflow: hidden;
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 999; 
    pointer-events: none; 
}
